<% if(flashMessage){ %>
    <% if(flashMessage.error){ %>
        <p style="color: red;">
            <%= flashMessage.error %>
        </p>

        <% } else if(flashMessage.success){ %>
            <p style="color: green;">
                <%= flashMessage.success %>
            </p>
            <% } %>

                <% } %>